*{
    direction: rtl;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
text-align: right;
}

.wellcom{
color: white;
}

.navbar-brand {
    font-weight: 600;
}

.btn-login {
padding:.3em .5em;
margin: 0.5em;
float: left;
}

.btn {
    padding:.3em .5em;
    }

.bg-img{
    background-image: url(https://s3-eu-west-1.amazonaws.com/media.madlan.co.il/property/zone_4c497874-0e55-49ae-ad9d-96d3a8f45227.jpg);
    background-repeat: no-repeat;
    position: absolute;
    /* height: calc(100% - 55px); */
    height:100%;
    width: 100%;
    border: none;
    margin-top: 0px;
}

.input-group-text, .input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.input-group-text{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #007bff;
    text-align: center;
    white-space: nowrap;
    background-color: #e7f3ff;
    border: 1px solid #d2e8ff;
    border-left: 0px;
    max-width: 60px;
}
.form-control, .custom-select {
    border: 1px solid #d2e8ff;
    border-radius: 0;
}

h1{
    font-weight: 700;
    line-height: 100%;
}