<div class="container">

    <!-- <h1>this is voting {{test}}</h1> -->

    <p class="h1">נושאים להצבעה</p>
    <div class="votes">
        <p class="h3">יצירת נושא חדש להצבעה</p>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text input-vote" id="basic-addon3">כותרת</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text input-vote" id="basic-addon3">פרטים נוספים</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text input-vote" id="basic-addon3">תאריך סיום ההצבעה</span>
            </div>
            <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="input-group mb-1"  ng-repeat="voteInput in voteInputArray track by $index">
            <div class="input-group-prepend">
                <span class="input-group-text input-vote" id="basic-addon3">אפשרות להצבעה</span>
                
            </div>
            <input type="text" ng-model="voteInput" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            <span class="input-group-text" ng-click="deleteNewInputVote($index)">מחק</span>
        </div>
        <a class="add-new-iten px-2" href="" ng-click="addNewInputVote()"><i class="fa fa-plus"></i><b> הוסף שדה</b></a>
            
        <a class="btn btn-primary px-2" href="">צור שאלון חדש</i>
        </a>
{{voteInputArray.length}}
    </div>
    <!-- <div>
        <input class="form-control" ng-model="updateData.editedVotingTitle" placeholder="כותרת" type="text">
        <input class="form-control" ng-model="updateData.editedVoteDetails" placeholder="פרטים נוספים" type="text">
        <input class="form-control" ng-model="updateData.editedVoteDate" placeholder="תאריך סיום ההצבעה" type="date">
        <input class="form-control" ng-model="updateData.editedPhone" placeholder="פריט להצבעה" type="text">
        <button type="button" ng-click="addNewVote()" class="btn btn-primary btn-block">צור חדש</button>
    </div> -->

    <!-- {{data}}
    {{labels}}
    {{options}} -->
    <br>
    <br>
    <h2>הצבעות שהסתיימו</h2>

    <div class="row mt-5">

        <div class=" col-md-6 col-sm-12 votes p-4" ng-repeat="vote in voteArray">
            <h4>{{vote.title}}</h4>
            <p>{{vote.details}}</p>
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
            </canvas>

        </div>

    </div>


</div>