<!-- <div class="mb-2 list-group-item">
    <div class="row p-2 msg-bg">

        <div class="w-100" style="text-align: right">
            <h3 class="mb-0">{{tenant.familyName+" "+tenant.sheName+" ו"+tenant.heName}}</h3>
            <p class="mb-0">דירה מספר: {{tenant.dira}}
                <i ng-show={{tenant.isVaad}} class="fa fa-user">
                    <span class="m-2 mr-2">ועד הבית</span>
                </i>
            </p>
            <p class="mb-0">טלפון: {{tenant.phone}}</p>
            <p class="mb-0">דוא'ל: {{tenant.email}}</p>
            <button type="button" ng-show={{!tenant.isVaad}} class="btn-delete btn" ng-click="deleteTenant()">הסר דייר</button>
        </div>
    </div>
</div>
 -->

<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading{{tenant.dira}}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{tenant.dira}}" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="mb-0">{{tenant.familyName+" "+tenant.sheName+" ו"+tenant.heName}}</h4>
                </button>
            </h5>
        </div>

        <div id="collapse{{tenant.dira}}" class="collapse" aria-labelledby="heading{{tenant.dira}}" data-parent="#accordion"> <!--add: class="show" -->
            <div class="card-body">
                <p class="mb-0">דירה מספר: {{tenant.dira}}
                    <i ng-show={{tenant.isVaad}} class="fa fa-user">
                        <span class="m-2 mr-2">ועד הבית</span>
                    </i>
                </p>
                <p class="mb-0">טלפון: {{tenant.phone}}</p>
                <p class="mb-0">דוא'ל: {{tenant.email}}</p>
                <button type="button" ng-show={{!tenant.isVaad}} class="btn-delete btn" ng-click="deleteTenant(tenant)">הסר דייר</button>
                <button type="button" ng-show={{!tenant.isVaad}} class="btn-delete btn" ng-click="updateTenant(tenant)">עדכון פרטים</button>

            </div>
        </div>
    </div>
</div>
