<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">ניהול וועדי בתים</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/overview">מבט כללי</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/tenants">דיירים</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/messages">הודעות</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/issues">נושאים לטיפול</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/votings">הצבעות</a>
            </li>
        </ul>
        <div class="btn-login">
            <!-- <a class="btn btn-danger m-1" href="#!/signup">הרשמה</a> -->
            <!-- <a class="btn btn-danger m-1" href="#!/login">הרשמה</a> -->
            <button class="btn btn-primary m-1" type="button" ng-click="signup()">הרשמה</button>
            <button class="btn btn-primary m-1" type="button" ng-click="login()">התחבר</button>
        </div>

    </div>
</nav>